<h1 class="text-5xl">Sign-up</h1>
<form
  (ngSubmit)="singUp()"
  [formGroup]="form"
  class="mt-10 flex flex-col gap-1"
>
  <app-text-field formControlName="username" label="username">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </app-text-field>
  <app-password-field formControlName="password" label="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </app-password-field>
  <app-password-field formControlName="repeatPassword" label="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </app-password-field>

  <button
    class="mt-2"
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="form.invalid"
  >
    Sign-up
  </button>
  <a routerLink="./..">Go back to <span class="underline">Sing-in</span></a>
</form>
