<div
  [ngClass]="{
    'bg-deep-lava': background === 'deep-lava',
    'bg-warm-lava': background === 'warm-lava',
    'bg-cloudly': background === 'cloudly',
    'bg-bubble-gum': background === 'bubble-gum',
    'bg-orbify': background === 'orbify',
    'bg-lamp': background === 'lamp',
    'bg-pink-400': background === 'pink',
    'bg-red-400': background === 'red',
    'bg-purple-400': background === 'purple',
    'bg-blue-400': background === 'blue',
    'bg-green-400': background === 'green',
    'bg-yellow-400': background === 'yellow'
  }"
  class="bw-full h-screen p-3 lg:p-16 bg-center bg-no-repeat bg-scroll bg-cover"
>
  <div
    class="
      pt-4
      min-h-full
      max-h-full
      overflow-auto
      container
      mx-auto
      rounded-2xl
      bg-white/70
      backdrop-filter backdrop-blur-md
      shadow
    "
  >
    <header class="w-full flex justify-between items-center mb-5 px-5">
      <h1 class="font-pacifico text-2xl font-bold">2-Duo</h1>
      <button mat-icon-button (click)="openSheet()">
        <mat-icon>menu</mat-icon>
      </button>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
