<h1 class="text-5xl">Sign-in</h1>
<form
  (ngSubmit)="signIn()"
  [formGroup]="form"
  class="mt-10 flex flex-col gap-1"
>
  <app-text-field formControlName="username" label="username">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </app-text-field>
  <app-password-field formControlName="password" label="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </app-password-field>

  <button
    class="mt-2"
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="form.invalid"
  >
    Sign-in
  </button>
  <a routerLink="./sign-up"
    >Don't have an account yet? <span class="underline">Sing-up</span></a
  >
</form>
