<div class="flex flex-col relative isolate h-screen justify-between">
  <div class="w-full p-5 min-h-[45vh]">
    <h1
      style="text-shadow: 1px 1px 2px #fff"
      class="text-5xl text-center font-pacifico leading-none text-purple-500"
    >
      Progress made done with
      <span class="font-black text-yellow-500">2-Duo</span>
    </h1>
    <img
      class="w-11/12 z-[-1] absolute top-[8rem]"
      src="assets/team_work.jpg"
      alt="co-operating"
    />
  </div>
  <div class="px-2">
    <div
      class="
        w-full
        min-h-[55vh]
        bg-purple-400/40
        backdrop-filter backdrop-blur-[2px]
        rounded-t-2xl
        z-10
      "
    >
      <div class="flex justify-center items-center pt-1">
        <span class="h-[.3rem] w-[4rem] bg-gray-700 rounded-md"></span>
      </div>

      <section class="p-5 mt-5">
        <h1 class="text-5xl">Log-in</h1>
      </section>
    </div>
  </div>
</div>
