<div class="container">
  <div class="hero">
    <h1 class="hero__heading">
      Welcome! to <br />
      <span class="hero__heading__app">2-Duo</span>
    </h1>
    <img class="hero__image" src="assets/team_work.jpg" alt="co-operating" />
  </div>
  <div class="sign-in">
    <div class="content">
      <span class="content__mark"></span>
      <section class="form">
        <router-outlet></router-outlet>
        <p class="form__footer">
          Progress made done,
          <span class="form__footer--bold">easily</span> with
          <span class="form__footer--brand">2-Duo</span>.
        </p>
      </section>
    </div>
  </div>
</div>
