<mat-form-field
  appearance="fill"
  class="w-full"
  [ngClass]="{ 'mat-form-field-invalid': control.invalid }"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="password"
    [(ngModel)]="value"
    [required]="control.getError('required')"
  />
  <mat-icon *ngIf="suffixIcon" matSuffix>{{
    suffixIcon._elementRef.nativeElement.lastChild.data
  }}</mat-icon>
</mat-form-field>
<div class="mt-[-1.34375em] min-h-[1.7em] px-[0.75em] mb-1 text-sm mat-error">
  <span class="block" *ngIf="control.dirty && control.hasError('required')"
    >{{ label }} is required.</span
  >
  <span class="block" *ngIf="control.dirty && control.hasError('match')"
    >{{ label }} should be {{ control.errors?.match.expectedValue }}.</span
  >
</div>
