<div class="sheet">
  <div class="sheet__container">
    <mat-nav-list>
      <a
        *ngFor="let list of lists"
        [ngClass]="{ 'text-purple-500': list.id === this.activeListId }"
        (click)="navigateToList(list.id)"
        mat-list-item
      >
        <div class="px-3 flex items-center gap-2 capitalize">
          {{ list.title }}
        </div></a
      >
      <mat-divider></mat-divider>
      <button (click)="createList()" mat-list-item>
        <span class="px-3 flex items-center gap-2 capitalize">
          <mat-icon>add</mat-icon> Create new list
        </span>
      </button>
    </mat-nav-list>
  </div>
</div>
